<% layout("/layouts/boilerplate") %>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>";
    const coords = <%- JSON.stringify(listing.geometry ? (listing.geometry.coordinates || listing.geometry) : null)%>;
    console.log(coords);
</script>
<body >
    <div class="row mb-0 justify-content-center">
        <div class="col-10 col-md-8 offset-md-1 mt-3">
            <h3><%=listing.title%></h3>
            <div class="card show-card listing-card">
                <img src=<%=listing.image.url%> class="card-img-top show-img" alt="listing image">
                <div class="card-body">
                    <p class="card-text">
                        Owned by <i>@<%=listing.owner ? listing.owner.username : 'Unknown'%></i><br>
                    </p>
                    <p class="card-text">
                        <%=listing.description%> <br>
                    </p>
                    <p class="card-text">
                        &#8377; <%=listing.price.toLocaleString("en-IN")%>
                    </p>
                    <p class="card-text">
                        <%=listing.location%> 
                    </p>
                    <p class="card-text">
                        <%=listing.country%> 
                    </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-8 col-10">
            <% if(currUser && listing.owner && currUser._id.equals(listing.owner._id)){ %>
                <div class="show-btns">       
                    <a class="btn btn-dark edit-btn col-1 offset-3" href="/listings/<%=listing._id%>/edit"> 
                        Edit 
                    </a>
                    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE" >
                        <BUTTON class="btn btn-dark offset-5 ">Delete</BUTTON>
                    </form>
                </div>
            <% } %>
        </div>
    </div>

    <div class="col-md-8 col-10 offset-md-2 mb-3 mt-3">
        <hr>
        <% if (currUser) {%> 
        <h4>Leave a review</h4>
        <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
            
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-slot">
                <legend>First rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate"  name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2"  name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3"  name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4"  name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5"  name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" cols="30" rows="5" id="comment" class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some comments for review</div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
    <% } %>

    <div class="col-md-8 col-10 offset-md-2 mb-3 mt-3 justify-content-center">
        <% if (listing.reviews && listing.reviews.length > 0) { %>
        <p><b>All reviews</b></p>
        <div class="row justify-content-center">
            <% for (let review of listing.reviews) { %>
                <div class="card col-12 col-md-5 mb-3 ms-3 review-card">
                    <div class="card-body">
                        <h5 class="card-title">@<%= review.author.username %></h5>
                        <p
                            class="starability-result card-text small-text"
                            data-rating="<%= review.rating %>">
                        </p>
                        <p class="card-text mb-2"><%= review.comment %></p>
                    </div>
                    <form
                        method="POST"
                        action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                         <button class="btn btn-sm btn-dark mb-2 mt-1">Delete</button>
                    </form>
                </div>
            <% } %>
            <hr>
        </div>
        <% } else { %>
        <p>No reviews yet.</p>
        <% } %>
        <h3>You will be Here</h3>
        <div id="map"  ></div>
        <pre id="coordinates" class="coordinates"></pre>
        <script src="/js/map.js"></script>
    </div>
</div>

    
    
</body>
